# Variables de entorno para la aplicación TaskFlow em Docker

# Configuración de la aplicación
APP_NAME=TaskFlow
APP_ENV=production
APP_DEBUG=false
APP_KEY=<base64:clave-generada-por-artisan-key-generate>
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

# Log
LOG_CHANNEL=stderr

# Configuración de la base de datos
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=db_taskflow
DB_USERNAME=taskflow
DB_PASSWORD=secret

# Cache, session y queue
SESSION_DRIVER=file
CACHE_DRIVER=file
QUEUE_CONNECTION=sync

# Configuración adicional
RUN_MIGRATIONS=true

# Credenciales
ADMIN_EMAIL=admin@taskflow.test
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@taskflow.test
DEMO_EMAIL=demo@taskflow.test
DEMO_USERNAME=demo
DEMO_PASSWORD=demo@taskflow.test
