# Configuración de Git para ignorar archivos y directorios específicos

# Archivos y directorios a ignorar
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# Variables de entorno
.env
.env.*
!.env.example
!.env.docker.example

# Configuración de Homestead
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Configuración de IDEs y editores
/.fleet
/.idea
/.vscode

# Configuración de PHPUnit
.phpunit.result.cache
